header {
    background: rgb(251, 28, 28);
    padding: 15px;  
}

  header h1 {
    color: #d9d773;
    font-size: 80px;
    font-weight: 80;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 40px;
    margin-left: 20px;  
}